@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

@import "tailwindcss";

:root {
  font-family: "Roboto Flex", sans-serif;

  color: rgba(8, 8, 8, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.role-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center; /* 12px from right */
  background-size: 20px 20px;
  cursor: pointer;
}